<%- include('../partials/header') %>
<div class="hero">
    <a href="/info/<%=index%>/<%=items[0]._id%>"><img src="<%=items[0].image%>" id="header" alt=""></a>
    <div class="frame"></div>
        <a href="/info/<%=index%>/<%=items[1]._id%>"><img src="<%=items[1].image%>" class="item" alt="" width="300px" height="300px">
        <h3 class="price"><%=items[0].price %></h3></a>
</div>
<div class="grid">
    <% for(var i = 2; i < 5; i++){ %>
    <div class="row"> 
        <div class="thumbnail">
            <a href="/info/<%=index%>/<%=items[i]._id%>"><img src="<%=items[i].image%>" class="item" alt="" width="300px" height="300px"></a>
            <h3 class="price"><%=items[i].price %></h3>
        </div>
        <div class="thumbnail">
            <a href="/info/<%=index%>/<%=items[i+1]._id%>"><img src="<%=items[i+1].image%>" class="item" alt="" width="300px" height="300px"></a>
            <h3 class="price"><%=items[++i].price %></h3>
        </div>
    </div>
    <% } %>
</div>

<%- include('../partials/footer') %>
